{% load static %}	
    <!--Main Wrapper-->
	<div class="wrapper">
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="logo">
								<figure>
									<a href="{% url 'home' %}" class="light-logo">
										<img src="{% static 'images/Veggo.png' %}" alt="Veggo" width='190'>
									</a>
								</figure>
							</div>
							<div class="main-location">
								<ul>
									<li class="location-has-children choose-location">
										<form action="#">
											<input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
											<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
										</form>		
									</li>
								</ul>
								</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="login-option">
							  <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" data-toggle="modal" href="#user-register">Login /</a>
							  <a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register</a>
							  <div class="dropdown d-inline-block ml-0">
								<a class="btn btn-secondary dropdown-toggle get-start-btn" href="#" role="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Be a Vendor or Farmer
								</a>
								<div class="dropdown-menu" aria-labelledby="registerDropdown">
								  <a class="dropdown-item" href="{% url 'registerVendor' %}">Be a Vendor</a>
								  <a class="dropdown-item" href="#">Be a Farmer</a>
								</div>
							  </div>
							</div>
						  </div>
						  
				</div>
			</div>
		</header>
		<!-- Header End -->
		<script>
			// Get the dropdown button
			var dropdownButton = document.querySelector('.dropdown-toggle');
		  
			// Get the dropdown menu
			var registerDropdown = document.querySelector('.dropdown-menu');
		  
			// Add a click event listener to the dropdown button
			dropdownButton.addEventListener('click', function() {
			  // Toggle the "show" class on the dropdown menu
			  registerDropdown.classList.toggle('show');
			});
		  
			// Hide the dropdown menu when the user clicks outside of it
			window.addEventListener('click', function(event) {
			  if (!event.target.matches('.dropdown-toggle') && !event.target.matches('.dropdown-menu *')) {
				registerDropdown.classList.remove('show');
			  }
			});
		  </script>